/* DraggableConsole.css */
.draggable-console {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    cursor: move;
    z-index: 999999;

  }
  
  .console-header {
    background-color: #333;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
  }
  
  .console-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .console-log {
    margin-bottom: 5px;
  }
  
  .resize-handle {
    width: 16px;
    height: 16px;
    background-color: #333;
    cursor: nwse-resize;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
  }
  
  button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  