
svg{
    -webkit-animation: animate-svg  1s ease-out .5s both;
            animation: animate-svg  1s ease-out .5s both;
            transform-origin: bottom center;

   }

  
  
   @keyframes animate-svg {
    0% {
      fill: transparent;
      transform: scale(0,0);
      
    }
  
    100% {
      fill: rgb(177, 102, 104);
      transform: scale(1,1);
  
    }
  }
  
   @-webkit-keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(177, 102, 104);
    }
  }
  
  @keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(177, 102, 104);
    }
  }
  
  .svg-elem-1 {
    -webkit-animation: animate-svg-fill-1 1s ease-out 0.8s both;
            animation: animate-svg-fill-1 1s ease-out 0.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(154, 74, 77);
    }
  }
  
  @keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(154, 74, 77);
    }
  }
  
  .svg-elem-2 {
    -webkit-animation: animate-svg-fill-2 1s ease-out 0.9s both;
            animation: animate-svg-fill-2 1s ease-out 0.9s both;
  }
  
  @-webkit-keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(154, 74, 77);
    }
  }
  
  @keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(154, 74, 77);
    }
  }
  
  .svg-elem-3 {
    -webkit-animation: animate-svg-fill-3 1s ease-out 1s both;
            animation: animate-svg-fill-3 1s ease-out 1s both;
  }
  
  @-webkit-keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(154, 74, 77);
    }
  }
  
  @keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(154, 74, 77);
    }
  }
  
  .svg-elem-4 {
    -webkit-animation: animate-svg-fill-4 1s ease-out 1.1s both;
            animation: animate-svg-fill-4 1s ease-out 1.1s both;
  }
  
  @-webkit-keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-5 {
    -webkit-animation: animate-svg-fill-5 1s ease-out 2.4s both;
            animation: animate-svg-fill-5 1s ease-out 2.4s both;
  }
  
  @-webkit-keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-6 {
    -webkit-animation: animate-svg-fill-6 1s ease-out 1.3s both;
            animation: animate-svg-fill-6 1s ease-out 1.3s both;
  }
  
  @-webkit-keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
      transform: scaleY(0);
    }
  
    100% {
      fill: rgb(86, 179, 95);
      transform: scaleY(1);
  
    }
  }
  
  @keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
  
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-7 {
    -webkit-animation: animate-svg-fill-7 1s ease-out 1.6s both;
            animation: animate-svg-fill-7 1s ease-out 1.6s both;
  }
  
  @-webkit-keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-8 {
    -webkit-animation: animate-svg-fill-8 1s ease-out 1.3s both;
            animation: animate-svg-fill-8 1s ease-out 1.3s both;
  }
  
  @-webkit-keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
      transform: scaleY(0);
      transform-origin: bottom center;
    }
  
    100% {
      fill: rgb(55, 71, 79);
      transform: scaleY(1);
      transform-origin: bottom center;
    }
  }
  
  .svg-elem-9 {
    -webkit-animation: animate-svg-fill-9 1s ease-out .5s both;
            animation: animate-svg-fill-9 1s ease-out .5s both;
  }
  
  @-webkit-keyframes animate-svg-fill-10 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-10 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
      transform:scaleX(1);
    }
  }
  
  .svg-elem-10 {
    -webkit-animation: animate-svg-fill-10 1s ease-out .7s both;
            animation: animate-svg-fill-10 1s ease-out .7s both;
            transform: scaleX(0);
            transform-origin: bottom;
  }
  
  @-webkit-keyframes animate-svg-fill-11 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-11 {
    0% {
      fill: transparent;
  
    }
  
    100% {
      fill: rgb(55, 71, 79);
      transform:scaleX(1);
    }
  }
  
  .svg-elem-11 {
    -webkit-animation: animate-svg-fill-11 1s ease-out .9s both;
            animation: animate-svg-fill-11 1s ease-out .9s both;
            transform: scaleX(0);
            transform-origin: bottom;
  
  }
  
  @-webkit-keyframes animate-svg-fill-12 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  @keyframes animate-svg-fill-12 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  .svg-elem-12 {
    -webkit-animation: animate-svg-fill-12 1s ease-out 1.2s both;
            animation: animate-svg-fill-12 1s ease-out 1.2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-13 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-13 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-13 {
    -webkit-animation: animate-svg-fill-13 1s ease-out 1.6s both;
            animation: animate-svg-fill-13 1s ease-out 1.6s both;
  }
  
  @-webkit-keyframes animate-svg-fill-14 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-14 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-14 {
    -webkit-animation: animate-svg-fill-14 1s ease-out 2.2s both;
            animation: animate-svg-fill-14 1s ease-out 2.2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-15 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-15 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
      transform: scaleX(1);
    }
  }
  
  .svg-elem-15 {
    -webkit-animation: animate-svg-fill-15 1s ease-out 1s both;
            animation: animate-svg-fill-15 1s ease-out 1s both;
            transform: scaleX(0);
            transform-origin: bottom;
  }
  
  @-webkit-keyframes animate-svg-fill-16 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-16 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  .svg-elem-16 {
    -webkit-animation: animate-svg-fill-16 1s ease-out 2s both;
            animation: animate-svg-fill-16 1s ease-out 2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-17 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-17 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-17 {
    -webkit-animation: animate-svg-fill-17 1s ease-out 2s both;
            animation: animate-svg-fill-17 1s ease-out 2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-18 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-18 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-18 {
    -webkit-animation: animate-svg-fill-18 1s ease-out 2.2s both;
            animation: animate-svg-fill-18 1s ease-out 2.2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-19 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-19 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
      transform: scaleX(1);
  
    }
  }
  
  .svg-elem-19 {
    -webkit-animation: animate-svg-fill-19 1s ease-out 1.2s both;
            animation: animate-svg-fill-19 1s ease-out 1.2s both;
            transform-origin: bottom;
            transform: scaleX(0);
  }
  
  @-webkit-keyframes animate-svg-fill-20 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-20 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  .svg-elem-20 {
    -webkit-animation: animate-svg-fill-20 1s ease-out 2s both;
            animation: animate-svg-fill-20 1s ease-out 2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-21 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-21 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-21 {
    -webkit-animation: animate-svg-fill-21 1s ease-out 1.4s both;
            animation: animate-svg-fill-21 1s ease-out 1.4s both;
  }
  
  @-webkit-keyframes animate-svg-fill-22 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-22 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  .svg-elem-22 {
    -webkit-animation: animate-svg-fill-22 1s ease-out 2.9000000000000004s both;
            animation: animate-svg-fill-22 1s ease-out 2.9000000000000004s both;
  }
  
  @-webkit-keyframes animate-svg-fill-23 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-23 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-23 {
    -webkit-animation: animate-svg-fill-23 1s ease-out 1.4s both;
            animation: animate-svg-fill-23 1s ease-out 1.4s both;
  }
  
  @-webkit-keyframes animate-svg-fill-24 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-24 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  .svg-elem-24 {
    -webkit-animation: animate-svg-fill-24 1s ease-out 3.1000000000000005s both;
            animation: animate-svg-fill-24 1s ease-out 3.1000000000000005s both;
  }
  
  @-webkit-keyframes animate-svg-fill-25 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-25 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-25 {
    -webkit-animation: animate-svg-fill-25 1s ease-out 1.8s both;
            animation: animate-svg-fill-25 1s ease-out 1.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-26 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
      transform: scaleX(1);
    }
  }
  
  @keyframes animate-svg-fill-26 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
      transform: scaleX(1);
    }
  }
  
  .svg-elem-26 {
    -webkit-animation: animate-svg-fill-26 1s ease-out 1s both;
            animation: animate-svg-fill-26 1s ease-out 1s both;
            transform: scaleX(0);
            transform-origin: bottom;
  }
  
  @-webkit-keyframes animate-svg-fill-27 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-27 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-27 {
    -webkit-animation: animate-svg-fill-27 1s ease-out 2s both;
            animation: animate-svg-fill-27 1s ease-out 2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-28 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-28 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  .svg-elem-28 {
    -webkit-animation: animate-svg-fill-28 1s ease-out 3.5s both;
            animation: animate-svg-fill-28 1s ease-out 3.5s both;
  }
  
  @-webkit-keyframes animate-svg-fill-29 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  @keyframes animate-svg-fill-29 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(86, 179, 95);
    }
  }
  
  .svg-elem-29 {
    -webkit-animation: animate-svg-fill-29 1s ease-out 2s both;
            animation: animate-svg-fill-29 1s ease-out 2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-30 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  @keyframes animate-svg-fill-30 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(55, 71, 79);
    }
  }
  
  .svg-elem-30 {
    -webkit-animation: animate-svg-fill-30 1s ease-out 3.7s both;
            animation: animate-svg-fill-30 1s ease-out 3.7s both;
  }
  
