@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*{
  font-family: "Inter", sans-serif !important;
  font-family: "Open Sans", sans-serif !important;
  font-family: "Kanit", sans-serif !important;
  /* font-family: "Itim", cursive; */
}

::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

html{
  scroll-behavior: smooth;
}
:root {
  /*  */font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  width: 100%;
  background: rgb(85, 179, 227);
  /* overflow-x: hidden; */


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@keyframes sway {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bg-cover{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: url('./assets/img/forest/bg.png') no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode:darken;
  z-index: 0;
  opacity: 15%;
  pointer-events: none;
  user-select: none;
}


.tree {
  left: 10px;
  bottom: 130px;
  animation: sway 2s infinite 0s cubic-bezier(0.42, 0.0, 0.58, 1.0) !important;
  z-index: 10;
}
.crab{
  animation: sway 2s infinite 0s cubic-bezier(0.42, 0.0, 0.58, 1.0) !important;
  z-index: 11;
}

.ocean { 
  height: 800px;
  width:100%;
  
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -80px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  filter: hue-rotate(20deg);
  z-index: 1;
}
.wave:nth-of-type(2) {
  top: -80px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  filter: hue-rotate(15deg);
  z-index: 1;
}
.wave:nth-of-type(3) {
  top: -120px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.135s infinite, swell 7s ease -1.35s infinite;
  opacity: 1;
  filter: hue-rotate(200deg);
  z-index: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.tree-planted{
  position: absolute;
  bottom: 0;
  left: 50px;
  transform-origin: bottom center;
  animation: sway 2s infinite  cubic-bezier(0.42, 0.0, 0.58, 1.0);
  transform: scale(.4) !important;
  z-index: 10;
}


.land{
  width: 100%;
  background: rgb(117, 170, 227);

  background: linear-gradient(rgb(117, 170, 227), rgb(7, 7, 150));

}

.island {
  width: 100%;
}

.driver {
  width: 80%;
  
}

@media (max-width: 768px) {
  .island{
    top:-40px;
  }
}

@keyframes growWidth {
  0% {
    width: 100%;

  }
  100% {
    width: 0%;
  transform: rotate(90deg) 

  }
}
.growWitdth-eff{
  animation: growWidth 2s both ease-in;
}

.palm-1{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 50000;
  left: -1200px;
  top: 500px;
}

.palm-1 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(45deg) scale(5);
}

.palm-2{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 50000;
  right: -1200px;
  top: 500px;
  
}

.palm-2 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(-45deg) scale(5);
}

.form-img-bg{
  background: url('./assets/img/Mesa de trabajo 1.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* min-width: 400px; */
}


.plant {
  background-color: #dbf2e3;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.3s ease;
  width:  300px; /* Ensures a minimum size */
  height: 300px;
  transform: scale(1.5);

}

.carbon {
  background-color: #bde1f8;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.3s ease;
  width:  300px; /* Ensures a minimum size */
  height: 300px;
  transform: scale(.9);
}
.circle-1{
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50px;
  right: -70px;
  background: #dbf2e3;
  border-radius: 50%;
}

.circle-2{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 300px;
  left: 0;
  background: #dbf2e3;
  border-radius: 50%;
}

.thank-card{
  border-radius: 25px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.custom-button-icon {
  color: #ffffff !important; /* Use !important to override any inline styles */
}

.custom-button {
  border: 2px solid #ffffff; /* Default border color */
  width: 100%;
  font-size: 18px;
  border-radius: 50px;
  background-color: #ffffff;
  padding: 5px;
  color:#000000;
  margin:0;
  outline: 0px solid transparent;
}

.custom-button:hover {
  border: 2px solid transparent;
  /* border: 2px solid #7c9d41; Border color on hover */
  background-color: #f3f3c1 ;
  color: #7c9d41 ;
  outline: 0px solid transparent;
}

.custom-button:focus{
  border: 2px solid #7c9d41;
  outline: 0px solid transparent;
  
}

.custom-button:active{
  border: 2px solid #7c9d41;
  outline: 0px solid transparent;
}

.zoomed-element {
  /* width: 100%; 
  max-width: 100%;
  object-fit: cover; 
  overflow-x: hidden; */
}


